<form action="/submit-form" method="post">
  <label for="name">Name:</label><br />
  <input type="text" id="name" name="name" required /><br /><br />

  <label for="message">Password:</label><br />
  <textarea type="text" id="password" name="password"></textarea><br /><br />

  <label for="message">Confirm Password:</label><br />
  <textarea type="text" id="password" name="password"></textarea><br /><br />

  <input type="submit" value="Submit" />
</form>