<form action="/register" method="POST">
  <label for="name">Name:</label><br />
  <input type="text" name="name" required /><br /><br />

  <label for="message">Password:</label><br />
  <input type="text" name="password" /><br /><br />

  <input type="submit" value="Registrieren" />
</form>

<!-- <form action="/register" method="POST">
  E-Mail: <input name="username" type="text" /><br />
  Passwort: <input name="password" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form> -->