<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundBase</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>

  </head>
  <body class="{{class}}">
    <div class="container">
      <header>
        <img src="/Logo.svg" alt="SoundBase Logo" class="logo" />
      </header>

      {{{body}}}

    </div>
  </body>
</html>