<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundBase</title>
    <link rel="stylesheet" href="style.css" />

    <script src="script.js"></script>

  </head>
  <body class="{{class}}">
    <div class="container">
      <header>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="611"
          height="83"
          viewBox="0 0 611 83"
        >
          <defs>
            <clipPath id="clip-path">
              <rect
                id="Rectangle_34"
                data-name="Rectangle 34"
                width="60.467"
                height="83"
                fill="none"
              />
            </clipPath>
          </defs>
          <g id="Group_56" data-name="Group 56">
            <g id="Group_8" data-name="Group 8" clip-path="url(#clip-path)">
              <path
                id="Path_7"
                data-name="Path 7"
                d="M.072,156.891V124.063c.344.224.63.4.9.592a22.617,22.617,0,0,0,13.583,4.311c7.5-.079,15-.03,22.5-.011a4.565,4.565,0,0,1,4.4,2.805,4.66,4.66,0,0,1-.655,5.121,4.966,4.966,0,0,1-4.185,1.813q-12.83-.03-25.659-.008H9.749v8.46c.295.021.579.059.862.059,8.816,0,17.633.024,26.449,0a13.4,13.4,0,1,0,.513-26.8c-7.8-.044-15.594.079-23.389-.04-6.04-.093-10.52-2.944-13.013-8.526-3.9-8.74,2.426-19.11,11.949-19.375,8.251-.23,16.512-.085,24.769-.046a4.7,4.7,0,0,1,4.569,4.776,4.876,4.876,0,0,1-4.787,4.925c-2.235.058-4.474.015-6.711.015-5.658,0-11.317-.014-16.975.01a4.252,4.252,0,0,0-4.225,3.7,4.208,4.208,0,0,0,2.878,4.549,7.461,7.461,0,0,0,2.14.25c7.468.017,14.935.007,22.4.011a22.939,22.939,0,0,1,22.7,18.1c3.219,13.885-7.306,27.847-21.5,28.121-12.595.243-25.2.064-37.8.068-.157,0-.313-.03-.518-.051"
                transform="translate(0 -74.001)"
                fill="#ffaa07"
              />
              <path
                id="Path_8"
                data-name="Path 8"
                d="M.252,14.6V.006H1.22q18.1,0,36.2,0A22.966,22.966,0,0,1,60.3,19.333a22.8,22.8,0,0,1-2.68,15.312,1.95,1.95,0,0,1-.184.267l-8.166-4.743a37.682,37.682,0,0,0,1.49-5.213A13.237,13.237,0,0,0,37.718,9.827c-6.97-.042-13.941.008-20.912-.019A29.327,29.327,0,0,0,7.347,10.85,25.079,25.079,0,0,0,.252,14.6"
                transform="translate(-0.202 0)"
                fill="#ffaa07"
              />
            </g>
          </g>
          <text
            id="Sound_"
            data-name="Sound "
            transform="translate(74 6)"
            fill="#fff"
            font-size="60"
            font-family="Arial-BoldMT, Arial"
            font-weight="700"
          ><tspan x="0" y="54">Sound </tspan></text>
          <text
            id="Base"
            transform="translate(252 6)"
            fill="#ffaa07"
            font-size="60"
            font-family="Arial-BoldMT, Arial"
            font-weight="700"
          ><tspan x="0" y="54">Base</tspan></text>
        </svg>

      </header>

      {{{body}}}

    </div>
  </body>
</html>