<div class="form-container">
  <h1>Login</h1>
  <form>
    <label for="username">Name or E-Mail</label>
    <input type="text" id="username" name="username" />

    <label for="password">Passwort</label>
    <input type="password" id="password" name="password" />

    <button type="submit" class="btn-login">
      Start Sharing
      <span>→</span>
    </button>
    <p class="register-text">
      <a href="/register">Register instead</a>
    </p>
  </form>
</div>