<!-- div class="form-container">
  <h1>Login</h1>
  <form action="/login" method="POST">
    E-Mail:
    <input name="username" type="text" /><br />
    Passwort:
    <input name="password" type="password" /><br />
    <input type="submit" value="Anmelden" />
  </form>
  <a href="/register" class="register-text">Registrieren</a>
</div> -->

<div class="form-container">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label for="email">Benutzername</label>
    <input type="text" name="email" id="email" required />

    <label for="passwort">Passwort</label>
    <input type="password" name="passwort" id="passwort" required />

    <button type="submit" class="btn-login">
      Start Sharing
      <span>→</span>
    </button>

    <p class="register-text">
      Register instead?
      <a href="/register">Register</a>
    </p>
  </form>
</div>