<!--

<div class="cursor-dot" data-cursor-dot></div>
<div class="cursor-outline" data-cursor-outline></div>
<script src="/script.js"></script>

Cursor... Geht nicht

 -->

<div class="start-margin">
  <h1>Share <span class="highlight">your</span> <br /> music taste</h1>
  <a href="/overview">
    <button class="btn-main">Start</button>
  </a>
</div>
<!--

<div class="intro">

  <img src="/Logo-img.svg" alt="SoundBase Logo" class="logo-img" />

</div>

-->