:root {
  --main: #292222;
  --accent: #ffaa08;
  --main-gray: #393434;
  --white: #f9f9f9;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main);
}

header,
footer {
  padding: 12px;
}

/* ---- Buttons ----- */

.btn-main {
  background-color: var(--accent);
  color: white;
  font-size: 33px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-secondary {
  background-color: var(--main-gray);
  color: white;
  font-size: 33px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.btn-deactivated {
  background-color: var(--main-gray);
  color: white;
  font-size: 33px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

/* ---- Forms ---- */

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid #4caf50; /* Green border on focus */
  outline: none; /* Remove default outline */
}

/* ----- Start CSS ----- */

body,
html {
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  background: url("Image_BG_01.jpeg") no-repeat center center/cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  flex-direction: column;
}

header {
  text-align: left;
  margin-top: 20px; /* Abstand vom oberen Rand */
}

.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
  padding-left: 30px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  line-height: 0.9; /* Verkleinert den Abstand zwischen den Zeilen */
}

.highlight {
  color: #ffaa07;
}

.brn-main:hover {
  background-color: #e69905;
}

é {
  background-color: #e69905;
}

.start-margin {
  padding-left: 50px;
}

/* Start CSS */
