:root {
  --main: #292222;
  --accent: #ffaa08;
  --main-gray: #393434;
  --white: #f9f9f9;
}

* {
  font-family: "Helvetica Neue", sans-serif;
  /*font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.front {
  background-image: url("/Image_BG_4k.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  background-color: var(--main);
}

header,
footer {
  padding: 12px;
}

/* ---- Cursor ----- 

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transition: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}

Disclaimer: Geit nid :( 

*/

/* ---- Buttons ----- */

.btn-main {
  background-color: #382d12;
  color: white;
  font-size: 25px;
  font-weight: bold;
  border: none;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 70px;
  transition: all 0.2s ease;
  position: relative;
}

.btn-main:hover {
  background-color: #ffaa08;
  box-shadow: 0 0 20px 0#ffaa08;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn-main::after,
.btn-main::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 60%, #ffaa08);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 2px;
  border-radius: 50px;
  animation: 3s spin linear infinite;
}

.btn-main::before {
  filter: blur(1rem); /*Glow funktioniert nicht richtig auf Safari*/
  transform: translate3d(0, 0, 0);
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.btn-secondary {
  background-color: var(--main-gray);
  color: white;
  font-size: 33px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.btn-deactivated {
  background-color: var(--main-gray);
  color: white;
  font-size: 33px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

/* ---- Forms ---- */

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 2px solid #4caf50; /* Green border on focus */
  outline: none; /* Remove default outline */
}

/* ----- Start CSS ----- */

body,
html {
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
}

header {
  text-align: left;
  margin-top: 20px; /* Abstand vom oberen Rand */
}

.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
  padding-left: 30px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: white;
  line-height: 0.9; /* Verkleinert den Abstand zwischen den Zeilen */
}

.highlight {
  color: #ffaa07;
}

é {
  background-color: #e69905;
}

.start-margin {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  z-index: 1;
}

/* Intro Screen 

.intro {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #292222;
  transition: 1s;
}

.logo-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15%;
  bottom: -20px;
  opacity: 0;
}

.logo-img.active {
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo-img.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

*/

/* Formular Register */

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1em;
  color: white;
  text-align: left;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #393434;
  color: white;
  font-size: 1em;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.btn-register {
  background-color: #ffaa08;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease;
  position: relative;
}

.btn-register:hover {
  background-color: #d99006;
  box-shadow: 0 0 20px rgba(255, 170, 8, 0.8);
}

.login-text {
  font-size: 0.9em;
  color: white;
  margin-top: 10px;
}

.login-text a {
  color: #ffaa08;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

/* Login Form */

.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1em;
  color: white;
  text-align: left;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #393434;
  color: white;
  font-size: 1em;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.btn-login {
  background-color: #ffaa08;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding: 15px 60px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease;
  position: relative;
}

.btn-login:hover {
  background-color: #d99006;
  box-shadow: 0 0 20px rgba(255, 170, 8, 0.8);
}

.register-text {
  font-size: 0.9em;
  color: white;
  margin-top: 10px;
}

.register-text a {
  color: #ffaa08;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}

/* Profile Picture Upload Page */
.upload-container {
  max-width: 600px;
  margin: 150px auto;
  text-align: center;
  color: var(--white);
}

.upload-container h1 {
  font-size: 2.5em;
  margin-bottom: 50px;
  color: var(--white);
}

.upload-container .highlight {
  color: var(--accent);
}

.profile-pic-placeholder {
  width: 150px;
  height: 150px;
  background-color: var(--main-gray);
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic-placeholder img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*Search site*/

/* Home Button */
.home-btn {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--main-gray);
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 1; /* Keep the button above other content */
}

.home-btn:hover {
  background-color: #3b2b1f; /* Darker brown */
}

.home-btn svg {
  margin-right: 10px;
  fill: #ffaa07;
}

/* Container Search - Full Width */
.container-search {
  width: 100%; /* Full width of the screen */
  height: 100vh; /* Full height of the viewport */
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.search-header h1 {
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--main);
  border-radius: 50px;
  padding: 10px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: var(--main-gray);
  color: var(--white);
  outline: none;
}

/* Search Icon inside the search bar */
.search-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-gray);
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  margin-left: -1px; /* Removes any space between icon and input field */
}

.search-icon svg {
  fill: var(--white);
}

/*Main Site */
/* Back to Top Button Styles */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #292222; /* Dark background */
  border-radius: 15px; /* Rounded corners */
  padding: 15px;
  border: none;
  display: none; /* Hidden initially */
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  z-index: 1000;
}

#backToTop svg {
  fill: #ffaa07; /* The yellow color of the chevrons */
  width: 40px; /* Adjust the icon size */
  height: 40px;
}

#backToTop:hover {
  background-color: #3b2b1f; /* Darker shade on hover */
}

/* Show the button when scrolled */
#backToTop.show {
  display: block;
}
